@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  position: relative;
  /* background-color: rgba(255, 0, 0, 0.096); */
}

.animation-on-show div {
  animation: animation-on-show 0.3s linear forwards;
  -webkit-animation: animation-on-show 0.3s linear forwards;
}

@keyframes animation-on-show {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

/* scroll bar style */
body {
  scrollbar-width: thin;
  scrollbar-color: rgb(115 115 115) black;
}
body::-webkit-scrollbar-track {
  width: 10px;
  background: black;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(115 115 115);
  border-radius: 6px;
  border: 3px solid rgb(115 115 115);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
